@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 800px) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.78;
  font-weight: 300;
  color: $color-black;
}
