@import "../sass/variables";

.home {
  &-about {
    margin-top: 7rem;
    background-color: $color-black;
    color: $color-white;
    min-height: 20vw;

    b {
      font-weight: 700;
      cursor: pointer;
      font-size: 2.5rem;
    }

    .heading {
      font-weight: 700;
    }

    @media (max-width: 540px) {
      .heading {
        font-size: 2.5rem;
      }

      b {
        font-size: 2rem;
      }
    }
  }

  // &-project {
  //   &__card {
  //     color: $color-white;

  //     .side {
  //       // border-top: 2px solid $color-white;
  //       // border-right: 2px solid $color-white;
  //     }

  //     .info {
  //       color: $color-black;

  //       .stack {
  //         font-weight: 700;
  //       }
  //     }

  //     &-info {
  //       .number {
  //         font-weight: 700;
  //         font-size: 1.2rem;
  //         border-bottom: 3px solid $color-white;
  //         padding-bottom: 5px;
  //       }

  //       .name {
  //         font-weight: 700;
  //         font-size: 3rem;
  //       }
  //     }

  //     &-container {
  //       margin-top: 6rem;
  //       width: calc(100% - 7rem);
  //       background-color: $color-black;
  //       min-height: 50vw;
  //     }

  //     &-img {
  //       width: 100%;
  //       right: -7rem;
  //       top: -3rem;
  //       height: calc(100% - 10rem);
  //       background-color: blue;
  //       object-fit: cover;
  //       object-position: center;
  //       filter: grayscale(1);
  //       border: 3px solid $color-black;
  //       transition: all 0.5s;
  //       cursor: pointer;

  //       &:hover {
  //         filter: grayscale(0);
  //       }
  //     }

  //     &:not(:last-child) {
  //       margin-bottom: 14rem;
  //     }
  //   }
  // }

  &-project {
    height: 52rem;
    border: 2px solid $color-black;

    &__redirect {
      left: 4rem;
      background-color: $color-white;
      border: 2px solid $color-black;
      border-radius: 50%;
      padding: 1rem;
      transition: all 0.5s;

      transform: rotate(-90deg);
      bottom: 0;
      opacity: 0;

      img {
        height: 3rem;
      }
    }

    &__name {
      font-size: 3rem;
    }

    &__stack {
      font-size: 1.4;
    }

    &__number {
      font-size: 1.1rem;
    }

    &__content {
      background-color: rgba($color-black, 0.9);
      z-index: 10;
      top: 0;
      left: 0;
      color: $color-white;
    }

    &__img {
      filter: grayscale(1);
      transition: all 0.5s;
      z-index: -1;
    }

    &:hover &__img {
      filter: grayscale(0);
    }

    &:hover &__redirect {
      bottom: 5rem;
      opacity: 1;
      transform: rotate(0);
    }
  }

  &-projects {
    &__btn {
      border: 3px solid $color-black;
      background-color: $color-white;
      font-weight: 700;
      outline: none !important;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(-1px);
      }
    }

    &__heading {
      margin-bottom: 8rem;
      font-weight: 700;
      border: 3px solid $color-black;
      box-shadow: 1rem 1rem 0 $color-black;
    }
  }
}
