@import "../sass/variables";

.home {
  &-project {
    &__card {
      color: $color-white;

      .side {
        border-top: 3px solid $color-white;
        border-right: 3px solid $color-white;
      }

      .info {
        color: $color-black;

        .stack {
          font-weight: 700;
        }
      }

      &-info {
        .number {
          font-weight: 700;
          font-size: 1.2rem;
          border-bottom: 3px solid $color-white;
          padding-bottom: 5px;
        }

        .name {
          font-weight: 700;
          font-size: 3rem;
        }
      }

      &-container {
        margin-top: 6rem;
        width: calc(100% - 7rem);
        background-color: $color-black;
        min-height: 50vw;
      }

      &-img {
        width: 100%;
        right: -7rem;
        top: -3rem;
        height: calc(100% - 10rem);
        background-color: blue;
        object-fit: cover;
        object-position: center;
        filter: grayscale(1);
        border: 3px solid $color-black;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          filter: grayscale(0);
        }
      }

      &:not(:last-child) {
        margin-bottom: 14rem;
      }
    }
  }

  &-projects {
    &__heading {
      margin-bottom: 8rem;
      font-weight: 700;
      border: 3px solid $color-black;
      box-shadow: 1rem 1rem 0 $color-black;
    }
  }
}
