@import "../sass/variables";

.project {
  border: 1px solid $color-black;
  margin-bottom: 5rem;

  &__number {
    font-size: 1.1rem;
  }

  &__name {
    font-weight: 700;
    font-size: 3rem;
  }

  &__stack {
    font-size: 1.3rem;
  }

  &__container {
    p {
      margin: 0;
    }
  }
}
